.nav-bar {
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-buttons {
  display: flex;
}
.button {
  background-color: transparent;
  border: none;
  transition-duration: 0.4s;
}
.button:hover {
  color: #8bc7c9;
}
.button:focus,
.button:active {
  color: blue;
  outline: none;
}